{
  "app": {
    "guid": "bffa924f-29ec-4c9d-8160-a9e43acec0e4"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": true,
    "metadataSecurity": null,
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "ZWRhN2E1OWItYTc3Mi00OGNiLTgyZDQtZTJjY2Q3NTJmYjdl",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Normal",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "selectdatabase": "Utilizar banco de dados temporário em disco (H2)",
      "backend": "true",
      "menuPosition": "Horizontal",
      "multitenant": "false",
      "frontend": "true",
      "social": "false",
      "theme": "Superhero",
      "authentication": "Normal",
      "mutual": "false"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}